<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to 'Jeffs Blog', root_path %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li>
        <%= link_to 'Bitbucket', 'https://bitbucket.com/aemonalgiz' %>
      </li>

      <li class="divider hide-for-small"></li>
      <li>
        <%= link_to 'Twitter', 'https://twitter.com/datacloud01' %>
      </li>

      <li class="divider hide-for-small"></li>
      <li>
        <%= link_to 'Facebook', 'http://www.facebook.com/jeffrey.r.gordon' %>
      </li>
    </ul>
  </section>
</nav>
